<div class="add-items-box text-center"> <!-- new tasks ng-controller div beggining-->
<h3 class="add-item">Add an Item</h3>
  <form ng-submit="createItem()" class="form-group">
      <input type="text" name="name" ng-model="item.name", class="form-control text-center", placeholder="Enter a new item name"><br> 
   
      <input type="text" name="notes" ng-model="item.notes", class="form-control text-center", placeholder="Enter additional notes (optional)"><br>

     <button class="btn btn-warning add-new-button">Create</button>
  </form> 
</div> <!-- new tasks ng-controller div end-->


 