<div class="text-right"><button class= "btn btn-success" id='button'>Press here to login or sign up</button></div>
<h1 class="text-center">TabulaRasa</h1>
<h1 class="text-center">With all the thoughts that run through our minds....</h1>


<section class="module parallax parallax-1">
  <div class="container">
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Sometimes we feel like this...</h2>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Time to get on the path to serenity...</h2>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
  </div>
</section>


<section class="module content" id="endScroll">
  <div class="container">
    <h2>Sign up to TabulaRasa Totally Free!</h2>
    <p class="last-p">This is your chance to put your mind at ease and your life in order...</p>
  </div>
</section>




<%= render 'signup' %>