<h1 class="text-center"><u>TabulaRasa: the app that lets you cleanse your brain</u></h1><br><br>
<h1 class="text-center">With all the thoughts that run through our minds....</h1>

<!-- beginnig the parallax scroll code -->


<section class="module parallax parallax-1">
  <div class="container">
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Sometimes we feel like this...</h2>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Time to get on the path to serenity...</h2>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
  </div>
</section>


<section class="module content" id="endScroll">
  <div class="container">
    <h2>Sign up to TabulaRasa Totally Free!</h2>
    <p class="last-p">This is your chance to put your mind at ease and your life in order...</p>
  </div>
</section>

<!-- end parallax scroll code -->



<%= render 'signup' %>

 
