
.add-task {
  font-size: 35px;
  color: #337AB7;
}

.add-new-button {
  font-size: 20px;
  margin-top: 5%;
}

.addModal {
  background-color: rgba(0, 0, 0, .5);

}

.add-list {
  font-size: 35px;
  color: #5BB75B;
}

.add-item {
  font-size: 35px;
  color: #F0AD4E;
}