// styling for all the show modals

.showModal {
  
  color:  #3BB9FF;

}

.itemList {

  padding-left: 2%;
}

.showItems {
  color: #5CB85C;
}

.text-primary {
  font-size: 30px;
  margin-left: 30px;
}

.item-button {
  margin-right: 40px;
}

.text-success {
  margin-left: 30px;
}