// styling for userhome.html page

.lists-index-box {

    border: 3px solid black;
}

.tasks-index-box {

  border: 3px solid black;
}

.mantra-box {

  border: 3px solid black;

}

.addTaskModal {

  background-color: rgba(0, 0, 0, .5);

}

