// styling for userhome.html page

.index-box {
    
    margin-bottom: 5%;
    padding-bottom: 1%;
    background-color: rgba(255, 255, 255, 0.8);
}


.search-words {
  font-size: 22px;
}

.list-border {
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  padding-bottom: 2%;
}

.overdue {
  color: red;
}
  
.userbody {
      background: image-url('beach.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.index-words {
  color: black;
}

.home-title {
    color: #FFF380;
}

.home-h2 {
  color: #FFF380;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 40px;

}

.instructions {
    color: red;
    
}




