// code for the body and parallax scrolling
.container {
  max-width: 960px;
  margin: 0 auto;

}

body { // may have to make this color specific just for the signup page
  background-color: rgba(78, 193, 255, 0.4); // whatever you change your "body" background color to, change the background footer color as well
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}

section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: image-url("populatedBlackboard.jpg");
}
section.module.parallax-2 {
  background-image: image-url("frustration.jpg");
}
section.module.parallax-3 {
  background-image: image-url("roadtofreedom.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
    color: red;
  }
 
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

h1 {
  color: red;
  font-family: cursive;
  font-size: 52px;
}

.last-p {
  font-size: 25px;
  color: red;
}






// css for login button

.login-button {
  font-size: 18px;
}

// css for fixed bottom navbar
.navbar-default {
  background-color: rgba(78, 193, 255, 0.4);
  border: 1px solid black;
  color: red;

}




// css for sign up and login divs
.signup-box {
  border: 2px solid black;
  padding: 3%;
  background-color: #B2ACAB;
  margin-bottom: 10%;
}

.welcome-button {
  font-size: 25px;
}

.form-control {
  font-size: 20px;
}


.login-box {
  border: 2px solid black;
  padding: 3%;
  background-color: #B2ACAB;
}