<h1 class="text-center">{{user.name}}Page Title Here</h1><br><br>

<div class="container"> <!-- div of the entire page beginning -->
<div class="row"> <!-- div row of indexes beginning -->
<div class="col-md-4 lists-index-box" ng-controller="listsController"> <!-- list index box start-->
  <h3><u>The Mother List</u></h3>
  Search By Name:<input type='text' ng-model='s.name'>

  <button ng-click="openAddList()">Add a List</button>
    <div ng-repeat="list in lists | orderBy: 'name' | filter:s "> <!-- lists ng-repeat div beggining-->
   <a ng-click="openShowItem(list)"><h3>{{$index+1}}. {{ list.name}}</h3></a>  
   <button ng-click="openAddItem(list.id)">Add Items to list</button>
   <button ng-click="deleteList(list)">Delete</button>

   </div> <!-- lists ng-repeat div end-->
</div> <!-- list index box finish-->

<div class=" col-md-4 mantra-box"> <!-- mantra div box beginning -->
  <p>Insert your mantra here</p>
  <p>Insert your background picture here</p>
</div> <!-- mantra div box end -->

<div class="col-md-4 tasks-index-box" ng-controller="tasksController"> <!-- task index box start-->
<h3><u>Your Daily Tasks</u></h3>
<button ng-click="openAddTask()">Add a Task</button>
 <div ng-repeat="task in tasks | orderBy: 'complete_by'"> <!-- tasks ng-repeat div beggining-->
   
 <h3><a ng-click="openShowTask(task.id)">{{$index+1}}. {{task.name}}</a></h3>
 <button ng-click="deleteTask(task)">Task Complete</button>
 </div> <!-- tasks ng-repeat div end-->
</div> <!-- task index box end-->


</div> <!-- div row of indexes end -->
</div> <!-- div of the entire page end -->







